<mat-sidenav-container class="mat-elevation-z8" style="padding: 0; min-height: 800px" *ngIf="loaded">
    <mat-sidenav #sidenav mode="side" [opened]="false">
      <div class="sidenav-header">
        <button mat-icon-button (click)="snavToggle(sidenav)" color="primary">
          <mat-icon style="font-size: 27px">close</mat-icon>
        </button>
      </div>
      <div class="sidebar-content">
        <div class="profile">
          <div class="username">
            {{userName}}
          </div>
          <button mat-raised-button class="view-profile" (click)="viewProfile()" type="button">
            View Profile
          </button>          
        </div>
        <mat-divider class="profile-divider"></mat-divider>
          <mat-nav-list>
            <mat-list-item routerLink="dashboard" routerLinkActive="active-link">
              <span class="nav-header-cus">Dashboard</span>
            </mat-list-item>

            <mat-list-item routerLink="apply-license" routerLinkActive="active-link">
              <span class="nav-header-cus">Apply For License</span>
            </mat-list-item>
          </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="toggle-btn">
        <button mat-icon-button (click)="snavToggle(sidenav)" *ngIf="!sidenav.opened" color="primary">
          <mat-icon style="font-size: 27px">menu</mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
