<form [formGroup]="memberDetailsForm">
    <mat-card>
      <mat-card-header>
        <div class = "heading">
          Company Details
        </div>
        <div class="validation">
          * Marked Fields Are Mandatory
        </div>
      </mat-card-header>
  
      <mat-card-content>
        <div class="form-field-container">
          <mat-form-field appearance="outline">
            <mat-label>Member Name</mat-label>
            <input matInput placeholder="Enter Company Name" type="text" formControlName="memberName"/>
            <mat-error *ngIf="memberDetailsForm.controls['memberName'].invalid">
              {{ getErrorMessage('memberName') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Member Designation</mat-label>
            <textarea matInput
                      placeholder="Enter Member Designation (max 100 characters)"
                      formControlName="memberDesignation"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5">
            </textarea>
            <mat-error *ngIf="memberDetailsForm.controls['memberDesignation'].invalid">
              {{ getErrorMessage('memberDesignation') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="Enter Mobile Number" type="number" formControlName="mobileNumber"/>
            <mat-error *ngIf="memberDetailsForm.controls['mobileNumber'].invalid">
              {{ getErrorMessage('mobileNumber') }}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matInput placeholder="Enter Email" type="email" formControlName="emailId"/>
            <mat-error *ngIf="memberDetailsForm.controls['emailId'].invalid">
              {{ getErrorMessage('emailId') }}
            </mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Member Address</mat-label>
            <textarea matInput
                      placeholder="Enter Member Address (max 500 characters)"
                      formControlName="memberAddress"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5">
            </textarea>
            <mat-error *ngIf="memberDetailsForm.controls['memberAddress'].invalid">
              {{ getErrorMessage('memberAddress') }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-stroked-button (click)="goBack()">Back</button>
        <button mat-stroked-button color="warn" (click)="resetForm()">Reset</button>
        <button mat-flat-button color="primary" (click)="proceedToNext()" [disabled]="!memberDetailsForm.valid">Next</button>
      </mat-card-actions>
    </mat-card>
</form>
  