<mat-sidenav-container class="mat-elevation-z8" style="padding: 0; min-height: 800px" *ngIf="loaded">
    <mat-sidenav #sidenav mode="side" [opened]="true">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <button class="mr-auto" class="sidenav-inner-btn" mat-icon-button (click)="snavToggle(sidenav)" color="primary">
          <fa-icon icon="arrow-left" color="primary"></fa-icon>
        </button>
      </div>
      <h5>{{userName}}</h5>
      <mat-divider class="profile-divider"></mat-divider>
      <mat-nav-list>
        <a mat-list-item routerLink="dashboard">
          <div class="icon-menu ml-2"><i class="icofont icofont-dashboard-web float-left"></i></div>
          <span class="nav-header-cus">Home Page</span>
        </a>
        <mat-accordion>
          <mat-expansion-panel class="nav-dropdown-cus">
            <mat-expansion-panel-header>
              <div class="icon-menu"><i class="icofont icofont-users float-left"></i></div>
              <span class="nav-header-cus">Manage Users</span>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="add-user"><mat-icon class="maticon" [ngStyle]="{ color: 'white' }"
                fontIcon="edit"></mat-icon><span class="nav-item-cus">Add User</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="list-user"><mat-icon class="maticon" [ngStyle]="{ color: 'white' }"
                fontIcon="list"></mat-icon><span class="nav-item-cus">List User</span> 
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="change-password"><mat-icon class="maticon" [ngStyle]="{ color: 'white' }"
                fontIcon="password"></mat-icon><span class="nav-item-cus">Change Password</span> 
            </a>
            <mat-divider></mat-divider>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel class="nav-dropdown-cus">
            <mat-expansion-panel-header>
              <div class="icon-menu"><i class="icofont icofont-building-alt float-left"></i></div>
              <span class="nav-header-cus">Manage District</span>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="new-district">
                <mat-icon class="maticon" [ngStyle]="{ color: 'white' }" fontIcon="edit"></mat-icon>
                <span class="nav-item-cus">Add New</span>
              </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="list-district">
                <mat-icon class="maticon" [ngStyle]="{ color: 'white' }" fontIcon="list"></mat-icon>
                <span class="nav-item-cus">List</span>
              </a>
            <mat-divider></mat-divider>
          </mat-expansion-panel>
        </mat-accordion>
       
        <mat-accordion>
          <mat-expansion-panel class="nav-dropdown-cus">
            <mat-expansion-panel-header>
              <div class="icon-menu"><i class="icofont icofont-map-pins float-left"></i></div>
              <span class="nav-header-cus">Manage Sub-Division</span>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="add-subdivision"><mat-icon class="maticon" [ngStyle]="{ color: 'white' }"
                fontIcon="edit"></mat-icon><span class="nav-item-cus">Add New</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="list-subdivision"><mat-icon class="maticon" [ngStyle]="{ color: 'white' }"
                fontIcon="list"></mat-icon><span class="nav-item-cus">List</span> 
            </a>
            <mat-divider></mat-divider>
          </mat-expansion-panel>
        </mat-accordion>
        
       
       
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="col-xl-12 col-lg-12 col-md-12">
          <button mat-icon-button (click)="snavToggle(sidenav)" color="primary">
            <fa-icon icon="bars" color="primary"></fa-icon>
          </button>
        </div>
        <!-- <div class="col-xl-12 col-lg-12 col-md-12" > -->
        <router-outlet></router-outlet>
        <!--  </div> -->
      </mat-sidenav-content>
  </mat-sidenav-container>
