<mat-sidenav-container class="mat-elevation-z8" style="padding: 0; min-height: 800px" *ngIf="loaded">
    <mat-sidenav #sidenav mode="side" [opened]="false">
      <div class="sidenav-header">
        <button mat-icon-button (click)="snavToggle(sidenav)" color="primary">
          <fa-icon icon="times" color="primary"></fa-icon>
        </button>
      </div>
      <div class="sidebar-content">
        <div class="username">
          {{userName}}
        </div>
        <mat-divider class="profile-divider"></mat-divider>
        <mat-nav-list>
          <mat-list-item routerLink="dashboard" routerLinkActive="active-link">
            <span class="nav-header-cus">Home</span>
          </mat-list-item>

          <mat-list-item routerLink="list-user" routerLinkActive="active-link">
            <span class="nav-header-cus">User</span>
          </mat-list-item>

          <mat-list-item routerLink="list-district" routerLinkActive="active-link">
            <span class="nav-header-cus">District</span>
          </mat-list-item>

          <mat-list-item routerLink="list-subdivision" routerLinkActive="active-link">
            <span class="nav-header-cus">Sub Division</span>
          </mat-list-item>

          <mat-list-item routerLink="list-policestation" routerLinkActive="active-link">
            <span class="nav-header-cus">Police Station</span>
          </mat-list-item>

          <mat-list-item routerLink="list-licensetype" routerLinkActive="active-link">
            <span class="nav-header-cus">License Type</span>
          </mat-list-item>

          <mat-list-item routerLink="list-licensecategory" routerLinkActive="active-link"> 
            <span class="nav-header-cus">License Category</span>
          </mat-list-item>
          
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Company Registration
              </mat-expansion-panel-header>
              <div class="button-column">
                <button mat-menu-item routerLink="company-registration/prepare-company-application" routerLinkActive="active-link">Prepare Application</button>
                <button mat-menu-item routerLink="company-registration/act-on-application" routerLinkActive="active-link">Act On Application</button>
                <button mat-menu-item routerLink="company-registration/print-company-certificate" routerLinkActive="active-link">Print Certificate</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Salesman/Barman Registration
              </mat-expansion-panel-header>
              <div class="button-column">
                <button mat-menu-item routerLink="salesman-registration/prepare-salesman-application" routerLinkActive="active-link">Prepare Application</button>
                <button mat-menu-item routerLink="salesman-registration/act-on-draft-application" routerLinkActive="active-link">Act On Draft Application</button>
                <button mat-menu-item routerLink="salesman-registration/print-salesman-certificate" routerLinkActive="active-link">Print Certificate</button>
                <button mat-menu-item routerLink="salesman-registration/application-status" routerLinkActive="active-link">Application Status</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </mat-nav-list>
      </div>  
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="toggle-btn">
        <button mat-icon-button [class.hidden]="isSidenavOpen" (click)="snavToggle(sidenav)" color="primary" >
          <fa-icon icon="bars" color="primary"></fa-icon>
        </button>
      </div>
        <!-- <div class="col-xl-12 col-lg-12 col-md-12" > -->
        <router-outlet></router-outlet>
        <!--  </div> -->
      </mat-sidenav-content>
  </mat-sidenav-container>
