<div class="step-container">
    <div class="heading">
      License
    </div>

    <mat-list>
      <div class = "sessionStorageEntries" *ngFor="let item of sessionStorageEntries">
        <div class="key">
          {{ item.key }}:
        </div>
        <div class="value">
          {{ item.value }}
        </div>
      </div>
    </mat-list>    
  
    <div class="button-container">
      <button mat-stroked-button (click)="goBack()">Back</button>
      <button mat-flat-button (click)="home()">Submit</button>
    </div>
  </div>
  