<div class="container-fluid">
  <mat-card class="mat-card">
      <mat-card-header class="page-card-header">
          <div class="page-title">Sub Division List</div>
          <button mat-flat-button [routerLink]="'../add-subdivision'">
              <mat-icon>add</mat-icon> Add Subdivision
          </button>
      </mat-card-header>
      <mat-card-content class="page-card-content">

          <!-- Dropdown for selecting district -->
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4">
                  <mat-form-field appearance="outline">
                      <mat-label>Select District</mat-label>
                      <mat-select [(ngModel)]="selectedDistrictCode" (selectionChange)="onDistrictSelect()">
                          <mat-option [value]="null">All Districts</mat-option>
                          <mat-option *ngFor="let district of districts" [value]="district.DistrictCode">
                              {{ district.District }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>

          <table mat-table [dataSource]="subdivisionDataSource">

              <ng-container matColumnDef="slNo">
                  <mat-header-cell *matHeaderCellDef> Sl. No. </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
            </ng-container>

              <ng-container matColumnDef="subdivisionName">
                  <mat-header-cell *matHeaderCellDef> Sub Division Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{ element.SubDivisionName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="subdivisionNameLL">
                <mat-header-cell *matHeaderCellDef> Sub Division Name LL</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.subdivisionNameLL }} </mat-cell>
            </ng-container>

              <ng-container matColumnDef="subdivisionCode">
                  <mat-header-cell *matHeaderCellDef> Sub Division Code </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{ element.SubDivisionCode }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="district">
                  <mat-header-cell *matHeaderCellDef> District Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{ element.District }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="districtCode">
                <mat-header-cell *matHeaderCellDef> District Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.districtCode }} </mat-cell>
            </ng-container>

              <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" (click)="onEdit(element)">
                          <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="onDelete(element)">
                          <mat-icon>delete</mat-icon>
                      </button>
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>

      </mat-card-content>
  </mat-card>
</div>
