<div class="container-fluid">
    <mat-card class="mat-card">
      <mat-card-header class="page-card-header">
        <div class="icon-header ml-2">
          <i class="icofont icofont-dashboard-web float-left"></i>
        </div>
        <span class="page-title">Sub Division List</span>
      </mat-card-header>
      <mat-card-content class="page-card-content">
  
        <!-- Dropdown for selecting district -->
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Select District</mat-label>
              <mat-select [(ngModel)]="selectedDistrictCode" (selectionChange)="onDistrictSelect()">
                <mat-option [value]="null">All Districts</mat-option>
                <mat-option *ngFor="let district of districts" [value]="district.DistrictCode">
                  {{ district.District }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
        <table mat-table [dataSource]="subdivisionDataSource">
  
          <!-- Username Column -->
          <ng-container  matColumnDef="srno">
            <mat-header-cell *matHeaderCellDef> Sr. No. </mat-header-cell>
            <mat-cell *matCellDef="let user; let i=index"> {{i+1}} </mat-cell>
          </ng-container>>
          <!-- Subdivision Name Column -->
          <ng-container matColumnDef="SubdivisionName">
            <mat-header-cell *matHeaderCellDef> Sub Division Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.SubDivisionName}} </mat-cell>
          </ng-container>
  
          <!-- Subdivision Code Column -->
          <ng-container matColumnDef="SubdivisionCode">
            <mat-header-cell *matHeaderCellDef> Sub Division Code</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.SubDivisionCode}} </mat-cell>
          </ng-container>
  
          <!-- District Name Column -->
          <ng-container matColumnDef="District">
            <mat-header-cell *matHeaderCellDef> District Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.District}} </mat-cell>
          </ng-container>
  
          <!-- Active Column with Slider -->
          <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-slide-toggle [checked]="element.IsActive" (change)="onToggleActive($event, element)">
              </mat-slide-toggle>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
  
      </mat-card-content>
    </mat-card>
  </div>