.heading{
    font-size: 28px;
    font-weight: 600;
}

.validation{
    color: #ff0000;
    font-style: italic;
}

.step-container{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    align-items: start;
}

mat-label{
    font-size: 14px;
}

.form-row{
    display: grid;
    grid-template-columns: 60%;
}

small{
    padding: 10px 0px;
    font-style: italic;
    font-size: 11px;
    color: #ff0000;
}

mat-form-field input::placeholder,
mat-form-field textarea::placeholder {
  font-size: 13px;
}

.image-preview {
    margin-top: 10px;
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid #ccc;
    }
  }
  

.button-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}
