<div class="login-container">
	<mat-card class="sign-in-card">
		<div class="heading">
			Sign In
		</div>
	
		<mat-card-content class="page-card-content">
			<div class="login-toggle">
				<button id = "password" [class.active]="isPasswordMode" (click)="toggleMode(true)">
					Password-based
				</button>
				<button id = "otp" [class.active]="!isPasswordMode" (click)="toggleMode(false)">
					OTP-based
				</button>
			</div>
			<form [formGroup]="loginForm" (ngSubmit)="onLogin()">		
				<ng-container *ngIf="isPasswordMode">
					<mat-form-field appearance="outline">
					<mat-label>Username</mat-label>
					<input matInput formControlName="username" placeholder="Enter your Username" />
					</mat-form-field>
		
					<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput type="password" formControlName="password" placeholder="Enter your password" />
					</mat-form-field>
		
					<!-- Captcha Section -->
					<app-captcha [formGroup]="loginForm"></app-captcha>
					<div class="text-center mt-3">
						<button mat-raised-button type="submit" [disabled]="loginForm.invalid">
							Sign In
						</button>
					</div>
					<a class="lf--forgot" href="#">Forgot password?</a>
				</ng-container>
		
				<ng-container *ngIf="!isPasswordMode">
					<mat-form-field appearance="outline">
					<mat-label>Phone Number</mat-label>
					<input matInput formControlName="username" placeholder="Enter your Phone Number" type="tel" />
					</mat-form-field>

					<div class="text-center mt-3">
						<button mat-raised-button type="submit" class="sign-in-btn" [disabled]="loginForm.invalid">
							Send OTP
						</button>
					</div>
				</ng-container>
			</form>
		</mat-card-content>
	</mat-card>

	<mat-card class="overlay">
		<mat-card-header>
			<img src = "assets/images/header/Seal_of_Sikkim_greyscale.png">
		</mat-card-header>
		<mat-card-content>
			<div class="text">
				<h1>Hello!</h1>
				<p>Register youself if you don't have an account.</p>
			</div>
			<button mat-raised-button>
				Register
			</button>
		</mat-card-content>
		<mat-card-footer>
			<h6>HELP DESK</h6>
			03592-203963<br>
			E-mail Id :<br>
			helpdesk-excise&#64;sikkim.gov.in
		</mat-card-footer>
	</mat-card>
</div>