<div class="container-fluid">
  <mat-card class="mat-card">
    <mat-card-header class="page-card-header">
      <div class="page-title">License Type List</div>
      <button mat-flat-button [routerLink]="'../add-licensetype'">
        <mat-icon>add</mat-icon> Add License Type
      </button> 
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="licenseTypeDataSource" class="mat-table">
        <ng-container matColumnDef="slNo">
          <mat-header-cell *matHeaderCellDef> Sl. No. </mat-header-cell>
          <mat-cell *matCellDef="let user; let i=index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="licenseType">
          <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.licenseType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="onEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>          

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
