<mat-card>
    <mat-card-header>
        <div class="heading">Submit Application</div>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <!-- LICENSE DETAILS Section -->
            <div class="section" *ngIf="selectLicenseDetails.length > 0">
                <h4>License Details</h4>
                <div class="sessionStorageEntries" *ngFor="let item of selectLicenseDetails">
                    <div class="key">{{ item.key }}:</div>
                    <div class="value">{{ item.value }}</div>
                </div>
            </div>

            <!-- KEY INFO Section -->
            <div class="section" *ngIf="keyInfoDetails.length > 0">
              <h4>Key Info</h4>
              <div class="sessionStorageEntries" *ngFor="let item of keyInfoDetails">
                  <div class="key">{{ item.key }}:</div>
                  <div class="value">{{ item.value }}</div>
              </div>
          </div>

          <!-- ADDRESS Section -->
          <div class="section" *ngIf="addressDetails.length > 0">
            <h4>Address</h4>
            <div class="sessionStorageEntries" *ngFor="let item of addressDetails">
                <div class="key">{{ item.key }}:</div>
                <div class="value">{{ item.value }}</div>
            </div>
          </div>

          <!-- UNIT DETAILS Section -->
          <div class="section" *ngIf="unitDetails.length > 0 && licenseType === 'Company'">
              <h4>Unit Details</h4>
              <div class="sessionStorageEntries" *ngFor="let item of unitDetails">
                  <div class="key">{{ item.key }}:</div>
                  <div class="value">{{ item.value }}</div>
              </div>
          </div>

          <!-- MEMBER DETAILS Section -->
          <div class="section" *ngIf="memberDetails.length > 0">
            <h4>Member Details</h4>
            <div class="sessionStorageEntries" *ngFor="let item of memberDetails">
                <div class="key">{{ item.key }}:</div>
                <div class="value">{{ item.value }}</div>
            </div>
          </div>
        </mat-list>
    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button (click)="goBack()">Back</button>
        <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </mat-card-actions>
</mat-card>

