.heading{
    font-size: 28px;
    font-weight: 600;
}

.info{
    display: flex;
    justify-content: space-between;

    .section{
        display: flex;
        width: 50%;
        gap: 5%;
    }

    .validation{
        color: #ff0000;
        font-style: italic;
    }
}

.step-container{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

form{
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 90px;
    row-gap: 30px;
}

.form-row{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    .form-label{
     font-weight: 500;
    }

    .required{
        color: red;
    }
}

.name{
    .inputs{
        display: flex;
        gap: 8px;

        input{
            width: 40%;
        }
    }
}

input{
    height: 50px;
    padding-left: 10px;
}


.button-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}

  
