<div class="container-fluid">
    <mat-card>
        <mat-card-header>
            Act On Application
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
                <!-- Application Info Column -->
                <ng-container matColumnDef="licenseDetails">
                  <th mat-header-cell *matHeaderCellDef> License Details </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-list>
                      <div class="sessionStorageEntries" *ngFor="let item of element.licenseDetails">
                        <div class="key">{{ item.key }}:</div>
                        <div class="value">{{ item.value }}</div>
                      </div>
                    </mat-list>
                  </td>
                </ng-container>
              
                <!-- Company Details Column -->
                <ng-container matColumnDef="details">
                  <th mat-header-cell *matHeaderCellDef> {{ modeofOperation === 'Salesman' ? 'Salesman Details' : (modeofOperation === 'Barman' ? 'Barman Details' : 'Details') }} </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-list>
                      <div class="sessionStorageEntries" *ngFor="let item of element.details">
                        <div class="key">{{ item.key }}:</div>
                        <div class="value">{{ item.value }}</div>
                      </div>
                    </mat-list>
                  </td>
                </ng-container>
              
                <!-- View Column -->
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef> View </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="button-column">
                            <button mat-button *ngFor="let btn of element.view" (click)="btn.action()">{{ btn.label }}</button>
                        </div>                  
                    </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>          
        </mat-card-content>
        <mat-card-actions>
    
        </mat-card-actions>
    </mat-card>
</div>
