.container-fluid{
    padding-top: 20px;
}
mat-card{  
    mat-card-header{
        padding: 12px;
        border-radius: 8px 8px 0 0;
        background-color: #1C2B78;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        justify-content: center; 
    }
    mat-card-content{
        padding: 20px 15px;
        .sessionStorageEntries{
            display: grid;
            grid-template-columns: 250px 200px;
            padding: 5px;
            .key{
                font-weight: 500;
                color: #002d95
            }
        }
        .button-column {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
    }
}

@media(max-width: 726px){
    mat-card-content{
        overflow-x: scroll;
    }
}