@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');


mat-horizontal-stepper{
  font-family: 'Poppins', sans-serif;
}

::ng-deep {
  .mat-horizontal-stepper-header-container{
    display: none;
  }

  .mat-horizontal-stepper-wrapper{
    padding: 20px;
    gap:40px;
  }

  .mat-step-header{
    background-color: #DADADA;
  }

  .mat-step-icon{
    font-size: 20px;
    background-color: 0;
  }

  .mat-step-text-label{
    font-family: 'Poppins', sans-serif;
  }

  .mat-horizontal-content-container{
    padding: 0;
  }
}