<mat-card>
    <mat-card-header>
        <div class="heading">Submit Application</div>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <!-- LICENSE DETAILS Section -->
            <div class="section" *ngIf="licenseDetails.length > 0">
                <h4>License Details</h4>
                <div class="sessionStorageEntries" *ngFor="let item of licenseDetails">
                    <div class="key">{{ item.key }}:</div>
                    <div class="value">{{ item.value }}</div>
                </div>
            </div>

            <!-- PERSON DETAILS Section -->
            <div class="section" *ngIf="personDetails.length > 0">
                <h4>{{ modeofOperation === 'Salesman' ? 'Salesman Details' : (modeofOperation === 'Barman' ? 'Barman Details' : 'Personal Details') }}</h4>
                <div class="sessionStorageEntries" *ngFor="let item of personDetails">
                    <div class="key"*ngIf="personDetails.length > 0">{{ item.key }}:</div>
                    <div class="value">{{ item.value }}</div>
                </div>
            </div>

            <!-- UPLOADED DOCUMENTS Section -->
            <div class="section" *ngIf="uploadedDocuments.length > 0">
                <h4>Uploaded Documents</h4>
                <div class="sessionStorageEntries" *ngFor="let doc of uploadedDocuments">
                    <div class="key">{{ doc.key }}</div>
                    <div class="value">
                        {{ doc.name }} ({{ doc.type }}, {{ (doc.size / 1024).toFixed(2) }} KB)
                        <a *ngIf="doc.fileUrl" [href]="doc.fileUrl" target="_blank">View / Download</a>
                    </div>
                </div>
            </div>
        </mat-list>
    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button (click)="goBack()">Back</button>
        <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </mat-card-actions>
</mat-card>

