<form [formGroup]="companyDetailsForm">
    <mat-card>
      <mat-card-header>
        <div class = "heading">
          Company Details
        </div>
        <div class="validation">
          * Marked Fields Are Mandatory
        </div>
      </mat-card-header>
  
      <mat-card-content>
        
        <mat-radio-group aria-label="Brand Type" formControlName="brandType">
          <mat-radio-button value="Manufactured in Sikkim">Manufactured in Sikkim</mat-radio-button>
          <mat-radio-button value="Imported from other States/Country">Imported from other States/Country</mat-radio-button>
          <mat-radio-button value="Bottled in Sikkim (Collaboration)">Bottled in Sikkim (Collaboration)</mat-radio-button>
          <mat-error *ngIf="companyDetailsForm.controls['brandType'].invalid">
            {{ getErrorMessage('brandType') }}
          </mat-error>
        </mat-radio-group>
  
        <div class="form-field-container">
          <mat-form-field appearance="outline">
            <mat-label>Select License</mat-label>
              <mat-select formControlName="license">
                <mat-option *ngFor="let license of licenses" [value]="license">{{ license }}</mat-option>
              </mat-select>
            <mat-error *ngIf="companyDetailsForm.controls['license'].invalid">
              {{ getErrorMessage('license') }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Select Application Year</mat-label>
            <mat-select formControlName="applicationYear">
              <mat-option *ngFor="let year of applicationYears" [value]="year">{{ year }}</mat-option>
            </mat-select>
            <mat-error *ngIf="companyDetailsForm.controls['applicationYear'].invalid">
              {{ getErrorMessage('applicationYear') }}
            </mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Company Name" type="text" formControlName="companyName"/>
            <mat-error *ngIf="companyDetailsForm.controls['applicationYear'].invalid">
              {{ getErrorMessage('companyName') }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>PAN</mat-label>
            <input matInput placeholder="Enter PAN" type="text" formControlName="pan" required/>
            <mat-error *ngIf="companyDetailsForm.controls['pan'].invalid">
              {{ getErrorMessage('pan') }}
            </mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Registered Office Address</mat-label>
            <textarea matInput
                      placeholder="Enter Registered Office Address (max 1000 characters)"
                      formControlName="officeAddress"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5">
            </textarea>
            <mat-error *ngIf="companyDetailsForm.controls['officeAddress'].invalid">
              {{ getErrorMessage('officeAddress') }}
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="section">
          <div class="heading">
            Factory Address
          </div>
          <div class="form-field-container">
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country">
                <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
              </mat-select>
              <mat-error *ngIf="companyDetailsForm.controls['country'].invalid">
                {{ getErrorMessage('country') }}
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
                <mat-select formControlName="state">
                  <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                </mat-select>
                <mat-error *ngIf="companyDetailsForm.controls['state'].invalid">
                  {{ getErrorMessage('state') }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <textarea matInput
                        placeholder="Enter Address (max 500 characters)"
                        formControlName="factoryAddress"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5">
              </textarea>
              <mat-error *ngIf="companyDetailsForm.controls['factoryAddress'].invalid">
                {{ getErrorMessage('factoryAddress') }}
              </mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
                <mat-label>Pin Code</mat-label>
                <input matInput placeholder="Enter Pin Code" type="number" formControlName="pinCode"/>
                <mat-error *ngIf="companyDetailsForm.controls['pinCode'].invalid">
                  {{ getErrorMessage('pinCode') }}
                </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="section">
          <div class="heading">
            Contact Details
          </div>
          <div class="form-field-container">
            <mat-form-field appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="Enter Mobile Number" type="number" formControlName="mobileNumber"/>
              <mat-error *ngIf="companyDetailsForm.controls['mobileNumber'].invalid">
                {{ getErrorMessage('mobileNumber') }}
              </mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
              <mat-label>Email Id</mat-label>
              <input matInput placeholder="Enter Email" type="email" formControlName="emailId"/>
              <mat-error *ngIf="companyDetailsForm.controls['emailId'].invalid">
                {{ getErrorMessage('emailId') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-stroked-button (click)="goBack()">Back</button>
        <button mat-stroked-button color="warn" (click)="resetForm()">Reset</button>
        <button mat-flat-button color="primary" (click)="proceedToNext()" [disabled]="!companyDetailsForm.valid">Next</button>
      </mat-card-actions>
    </mat-card>
  </form>
  