<form [formGroup]="licenseForm">
    <mat-card>
      <mat-card-header>
        <div class="heading">License</div>
        <div class="validation">
          * Marked Fields Are Mandatory
        </div>
      </mat-card-header>
  
      <mat-card-content>
        <div class="form-field-container">
            <mat-form-field appearance="outline">
                <mat-label>Select Application Year</mat-label>
                <mat-select formControlName="applicationYear">
                    <mat-option *ngFor="let year of applicationYears" [value]="year">{{ year }}</mat-option>
                </mat-select>
                <mat-error *ngIf="licenseForm.controls['applicationYear'].invalid">
                    {{ getErrorMessage('applicationYear') }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Application Id</mat-label>
                <input matInput placeholder="Application Id" type="number" formControlName="applicationId"/>
                <mat-error *ngIf="licenseForm.controls['applicationId'].invalid">
                    {{ getErrorMessage('applicationId') }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Application Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="applicationDate" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>District</mat-label>
                <mat-select formControlName="district">
                    <mat-option *ngFor="let district of districts" [value]="district">{{ district }}</mat-option>
                </mat-select>
                <mat-error *ngIf="licenseForm.controls['district'].invalid">
                    {{ getErrorMessage('district') }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Select License Category</mat-label>
                <mat-select formControlName="licenseCategory">
                    <mat-option *ngFor="let category of licenseCategories" [value]="category">{{ category }}</mat-option>
                </mat-select>
                <mat-error *ngIf="licenseForm.controls['licenseCategory'].invalid">
                    {{ getErrorMessage('licenseCategory') }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Select License</mat-label>
                <mat-select formControlName="license">
                    <mat-option *ngFor="let license of licenses" [value]="license">{{ license }}</mat-option>
                </mat-select>
                <mat-error *ngIf="licenseForm.controls['license'].invalid">
                    {{ getErrorMessage('license') }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Select Mode of Operation</mat-label>
                <mat-select formControlName="modeofOperation">
                    <mat-option *ngFor="let mode of modeofOperations" [value]="mode">{{ mode }}</mat-option>
                </mat-select>
                <mat-error *ngIf="licenseForm.controls['modeofOperation'].invalid">
                    {{ getErrorMessage('modeofOperation') }}
                </mat-error>
            </mat-form-field>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-stroked-button (click)="goBack()">Back</button>
        <button mat-stroked-button color="warn" (click)="resetForm()">Reset</button>
        <button mat-flat-button color="primary" (click)="proceedToNext()" [disabled]="!licenseForm.valid">Next</button>
      </mat-card-actions>
    </mat-card>
</form>
