<form [formGroup]="licenseForm">
    <mat-card>
      <mat-card-header>
        <div class="heading">License</div>
        <div class="validation">
          * Marked Fields Are Mandatory
        </div>
      </mat-card-header>
  
      <mat-card-content>
        <div class="form-field-container">
            <mat-form-field appearance="outline">
                <mat-label>Select Application Year</mat-label>
                <mat-select [formControl]="applicationYear" required>
                    <mat-option>None</mat-option>
                    @for (applicationYear of applicationYears; track applicationYear) {
                    <mat-option [value]="applicationYear">{{applicationYear}}</mat-option>
                    }
                </mat-select>
                @if (applicationYear.invalid) {
                    <mat-error>{{ getErrorMessage('applicationYear') }}</mat-error>
                }
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Application Id</mat-label>
                <input matInput placeholder="Application Id" type="number" [formControl]="applicationId"/>
                @if (applicationId.invalid) {
                    <mat-error>{{ getErrorMessage('applicationId') }}</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Application Date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="applicationDate" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>District</mat-label>
                <mat-select [formControl]="district" required>
                    <mat-option>None</mat-option>
                    @for (district of districts; track district) {
                        <mat-option [value]="district">{{district}}</mat-option>
                    }
                </mat-select>
                @if (district.invalid) {
                    <mat-error>{{ getErrorMessage('district') }}</mat-error>
                }
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Select License Category</mat-label>
                <mat-select [formControl]="licenseCategory" required>
                    <mat-option>None</mat-option>
                    @for (category of licenseCategories; track category) {
                        <mat-option [value]="category">{{category}}</mat-option>
                    }
                </mat-select>
                @if (licenseCategory.invalid) {
                    <mat-error>{{ getErrorMessage('licenseCategory') }}</mat-error>
                }
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Select License</mat-label>
                <mat-select [formControl]="license" required>
                    <mat-option>None</mat-option>
                    @for (license of licenses; track license) {
                        <mat-option [value]="license">{{license}}</mat-option>
                    }
                </mat-select>
                @if (license.invalid) {
                    <mat-error>{{ getErrorMessage('license') }}</mat-error>
                }
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Select Mode of Operation</mat-label>
                <mat-select [formControl]="modeofOperation" required>
                    <mat-option>None</mat-option>
                    @for (modeofOperation of modeofOperations; track modeofOperation) {
                        <mat-option [value]="modeofOperation">{{modeofOperation}}</mat-option>
                    }
                </mat-select>
                @if (modeofOperation.invalid) {
                    <mat-error>{{ getErrorMessage('modeofOperation') }}</mat-error>
                }
            </mat-form-field>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-stroked-button (click)="goBack()">Back</button>
        <button mat-flat-button color="primary" (click)="proceedToNext()" [disabled]="!licenseForm.valid">Next</button>
        <button mat-stroked-button color="warn" (click)="resetForm()">Reset</button>
      </mat-card-actions>
    </mat-card>
</form>

  