<nav class="navbar navbar-dark navbar-expand-md">
    <div class = "navbar-container">
        <div class="container-fluid">
        
            <a class="navbar-brand logo" >
                <div class="header-logo">
                    <img class="logo-img" src = "assets/images/header/Seal_of_Sikkim_greyscale.png">
                </div>
                <div class="header-text">
                    <span class="navbar-title">EXCISE DEPARTMENT</span><br  >
                    <span class="navbar-version">Government of Sikkim</span>
                </div>
            </a>

            <span>
                <fa-icon icon="sign-in-alt" button (click)="login()"></fa-icon>
                <span> Sign in</span>
              </span>
        </div>
    </div>  
</nav>
