mat-card{  
    mat-card-header{
        padding: 12px;
        border-radius: 8px 8px 0 0;
        background-color: #1C2B78;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        align-items: center;
        justify-content: center; 
        .validation{
            font-size: 12px;
            color: #ff1313;
            font-style: italic;
        }  
    }
    mat-card-content{
        .section{
            margin-bottom: 20px;
        }
        .sessionStorageEntries{
            display: grid;
            grid-template-columns: 250px 200px;
            padding: 5px;
            .key{
                font-weight: 500;
                color: #002d95
            }
        }
    }
    mat-card-actions{
        display: flex;
        justify-content: center;
        gap: 8px;
    }
}

@media(max-width: 633px){
    mat-card mat-card-content .form-field-container{
        grid-template-columns: 1fr 1fr;
    }
}