<mat-card>
    <mat-card-header>
        <div class="heading">Submit Application</div>
    </mat-card-header>

    <mat-card-content>
        <!-- COMPANY DETAILS Section -->
        <div class="info-section" *ngIf="companyDetails.length > 0">
            <div class="section-header">License Details</div>
            <div class="entries" *ngFor="let item of companyDetails">
                <div class="key">{{ item.key }}:</div>
                <div class="value">{{ item.value }}</div>
            </div>
        </div>

        <!-- MEMBER DETAILS Section -->
        <div class="info-section" *ngIf="memberDetails.length > 0">
            <div class="section-header">Member Details</div>
            <div class="entries" *ngFor="let item of memberDetails">
                <div class="key"*ngIf="memberDetails.length > 0">{{ item.key }}:</div>
                <div class="value">{{ item.value }}</div>
            </div>
        </div>

        <!-- PAYMENT DETAILS Section -->
        <div class="info-section" *ngIf="paymentDetails.length > 0">
            <div class="section-header">Payment Details</div>
            <div class="entries" *ngFor="let item of paymentDetails">
                <div class="key"*ngIf="paymentDetails.length > 0">{{ item.key }}:</div>
                <div class="value">{{ item.value }}</div>
            </div>
        </div>

        <!-- UPLOADED DOCUMENTS Section -->
        <div class="info-section" *ngIf="companyDocuments.length > 0">
            <div class="section-header">Uploaded Documents</div>
            <div class="entries" *ngFor="let doc of companyDocuments">
            <div class="key">{{ documentLabels[doc.key] || doc.key }}:</div>
            <div class="value">
                {{ doc.file.name }}
                <a [href]="doc.fileUrl" target="_blank">View</a>
            </div>
            </div>
        </div>  
    </mat-card-content>

    <!-- Buttons -->
    <mat-card-actions>
        <button mat-stroked-button (click)="goBack()">Back</button>
        <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </mat-card-actions>
</mat-card>

