mat-card {
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: none;
    background-color: #fff;
    mat-card-header{
      background-color: #1C2B78;
      color: #ffffff;
      font-weight: 500;
      font-size: 24px;
      padding: 12px 20px;
      align-items: center;
      justify-content: center; 
    }
    mat-card-content {
      padding: 20px;
      .section-header {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        color: #555;
        margin-bottom: 16px;
      }
      .entries {
        display: flex;
        flex-direction: column;
        gap: 2px;
        .key {
          font-size: 14px;
          color: #888;
        }
        .value {
          font-size: 17px;
          font-weight: 400;
          color: #000;
          margin-bottom: 15px;
        }
      }
    }
    mat-card-actions {
      padding: 16px;
      display: flex;
      justify-content: center;
      gap: 12px;
      background-color: #f9f9f9;
      border-top: 1px solid #eee;
    }
  }
  