@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');


.main-container {
    font-family: 'Poppins', sans-serif;
    background-color: #EDF7FE;
    display: flex;      
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.main-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    font-size: small;
}

.card {
    gap: 6px;
    overflow: hidden;
}

.header {
    background-color: #ef9562;
        
    padding: 15px;
    color: #000000;
    font-weight: 600;
    font-size: 24px;
}

.heading{
    font-size: medium;
    font-weight: 500;
}

.button{
    border-radius: 0;
    background-color: #85BE00;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Keeps text color as parent element */
}

.quick-links, .about-us, .revenue-receipts, .preventive-raids, .whats-current, .eservices, .connect-with-us, .videos {
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    height: 100%;
}

.quick-links{
    .container {
        background-color: #ffffff;
        display: grid;
        padding:0;
        grid-template-columns: repeat(2, 1fr);
        max-height: 388px;
    }

    .link-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #DCDCDC;
        padding: 19px;
    }


    .link-item img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
}

.about-us, .revenue-receipts, .preventive-raids, .whats-current, .videos{
    .container{
        background-color: #ffffff;
        display: grid;
        gap: 20px;
        padding:10px;
        max-height: 388px;
    }
}

.about-us{
    
    .content{
        overflow-y: scroll; /* Enable scroll bar */
        line-height: 1.6;
        max-height: 300px;

    }   
}

.revenue-receipts{
    .container{
        height: 100%;
    }   
}

.preventive-raids{
    .container{
        gap: 8px;
        max-height: 388px;
    }

}

.whats-current{
    .container{
        padding-left: 0;
        padding-bottom: 0;
        padding-right:0;
        gap: 22px;
    }
    .link-container, .heading, .button-container{
        padding-left: 10px;
    }

    .notification {
        display: grid;
        grid-template-columns: 75% 20%;
        gap: 20px;
        padding: 10px;
        background-color: #f9f9f9;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        .date{
            font-size: 10px;              
        }
    }

}

.eservices{
    .services-container {
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px 0px;
        padding: 13px;
        max-height: 370px; /* Set the max height to control the container size */
        overflow-y: auto;
    }
    
    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #EBEBEB;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    
    .service img {
        width: 50px;
        height: 50px;
    }

    #eabkari{
        width: 80px;
        height: 80px;
    }
    
    .service-name {
        text-align: center;
        font-size: 10px;
        color: #1C2B78;
        margin-top: 8px;
    }
}

.connect-with-us{
    grid-column: 2 / 2;

    .container {
        background-color: #ffffff;
        display: grid;
        gap: 12px;
    }  

    .address-container{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;

        .address-title{
            .title1{
                font-size: medium;
                font-weight: 400;
            }
        }

        .address{
            font-size: small;
        }
    
    }


    .map-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
        background: linear-gradient(180deg, #b9e3ff 0%, rgba(159, 215, 255, 0) 100%);
    }

    iframe{
        width: 97%;
        height: 234px;
    }
}

.videos{
    .vid-container{
        height: 335px;
    }

    iframe{
        width: 100%;
        height: 95%;
    }
}   