
<div class = "main-container">
    <div class = "main-content-container">
      <section class = "card quick-links">
        <div class = "header">
          Quick Links
        </div>
        <div class = "container">
          <a class = "link-item" href="https://www.example.com/" target="_blank">
            <div class = "icon-container">
              <img src = "assets/images/main/quick-links/about-us.png" alt="Link Icon">
            </div>       
            <span>About Us</span>
          </a>
          <a class = "link-item" href = "https:\\google.com">
            <div class = "icon-container">
              <img src = "assets/images/main/quick-links/factsnfigs.png" alt="Link Icon">
            </div>       
            <span>Facts & Figures</span>
          </a>        
          <a class = "link-item" href="https://www.example.com/" target="_blank">
            <div class = "icon-container">
              <img src = "assets/images/main/quick-links/acts.png" alt="Link Icon">
            </div>       
            <span>Acts, Rules & Orders</span>
          </a>        
          <a class = "link-item" href="https://www.example.com/" target="_blank">
            <div class = "icon-container">
              <img src = "assets/images/main/quick-links/rti.png" alt="Link Icon">
            </div>       
            <span>Right to Information</span>
          </a>        
          <a class = "link-item" href="https://www.example.com/" target="_blank">
            <div class = "icon-container">
              <img src = "assets/images/main/quick-links/feedback.png" alt="Link Icon">
            </div>       
            <span>Feedback</span>
          </a>        
          <a class = "link-item" href="https://www.example.com/" target="_blank">
            <div class = "icon-container">
              <img src = "assets/images/main/quick-links/contact.png" alt="Link Icon">
            </div>       
            <span>Contact Us</span>
          </a>
        </div>
      </section>
  
      <section class = "card about-us">
        <div class = "header">About Us</div>
        <div class = "container">
          <div class ="content">
            The  Excise Department, under the Government of Sikkim 
            enforces regulations and administers the Sikkim Excise Act, 
            1992. The said Act provides for manufacturing, possession, sale, 
            transport, import of alcoholic liquor; and imposition of 
            duty in form of excise duty, license fee, export pass fee, etc. 
            under the various Acts listed below. The Department also strives 
            to prevent the use of unsafe liquor and ensure consumption of liquor 
            keeping in view the health of the consumers. <br><br>The Sikkim Excise Act, 
            1992 and the Medicinal & Toilet Preparation Act 1955 enables the 
            Department not only to regulate but also enable collection of 
            Revenues by way of Excise Duty, License Fee, and Export Pass Fee 
            etc. Under the provisions of the above Acts, the Department monitors 
            and frames Rules and Regulations for manufacture, import, export, 
            licensing, sale, storage /warehousing, inspection of all alcohol, 
            spirits, derivatives, raw material and by products. The Department 
            is also a major contributor to the Revenue of the State Government.<br><br>
            The Department is presently headed by an officer in the rank of 
            Secretary to the Government. Till 1974 it was headed by the Executive 
            Officer and was located at the old District Office (presently the 
            Secretariat Annex adjacent to Power Secretariat). The Department shifted 
            to its present premises at Mahatma Gandhi Marg, Gangtok in the mid 1970’s. 
            The Secretary is assisted by Commissioner, Joint Commissioner, Deputy 
            Commissioner, other officers and staffs. The Department has a Regional 
            Office for South/West located at Jorethang headed by a Deputy Commissioner 
            District who looks after the affairs and Assistant Commissioner who acts 
            as the D&DO for South and West Districts. <br><br>An officer in the rank of 
            Sub-Inspector along with other supporting staffs is also stationed in 
            Gyalshing, West Sikkim. The North and the East Districts’ falls under 
            the jurisdiction of the Regional Office (North/East) attached with the 
            Head Office, Gangtok. Excise personals are also posted at Mangan, North Sikkim.
            The Department also runs a Laboratory at Chanatar, Rangpo. The sole 
            responsibility of the Laboratory is to examine, test and analyze all 
            liquors produced in Sikkim.        
          </div>
            <div class = "button-container">
                <a mat-flat-button class = "button" href="https://www.example.com/" target="_blank">Read More</a>          
            </div>
        </div>
      </section>
  
      <section class = "card revenue-receipts">
        <div class = "header">
          Revenue Receipts
        </div>
        <div class = "container">
          <div class = "img-container">
            <img src = "assets/images/main/revenue-receipts/revenue-receipt-fig.png">
          </div>
        </div>
      </section>
  
      <section class = "card preventive-raids">
        <div class = "header">Preventive Raids</div>
        <div class = "container">
          <div class = "heading">
            Preventive Raids 2024-25
          </div>
          <div class = img-container>
            <img src = "assets/images/main/preventive-raids/preventive-raids.jpg">
          </div>
          <div class = "description">
            Details about preventive raids.
          </div>
          <div class = "button-container">
            <a mat-flat-button class = "button" href="https://www.example.com/" target="_blank">Read More</a>          
        </div>
        </div>
      </section>
  
  
      <section class = "card whats-current">
        <div class = "header">
          What's Current
        </div>
        <div class = "container">
          <div class = "link-container">
            <a href="https://example.com/calculator" target="_blank">Duty Fees MRP Calculator</a>
          </div>
          <div class = "heading">
            Notifications
          </div>
          <div class = "notification-container">
            <div class="notification">
              <div class = "name">
                <a href="https://example.com/calculator" target="_blank">Circular Regarding Settlement of Excise License . .</a>
              </div>
              <div class = "date">
                  04/02/2025
              </div>
            </div>
            <div class="notification">
              <div class = "name">
                <a href="https://example.com/calculator" target="_blank">DRY DAY NOTIFICATION</a>
              </div>
              <div class = "date">
                23/12/2024
              </div>
            </div>
            <div class="notification">
              <div class = "name">
                <a href="https://example.com/calculator" target="_blank">Office order no 226/Excise dated 11/09/2024 regarding . .</a>
              </div>
              <div class = "date">
                11/09/2024
              </div>
            </div>
            <div class="notification">
              <div class = "name">
                <a href="https://example.com/calculator" target="_blank">Gazette No 394 regarding suspension on issue of New Foreign . .</a>
              </div>
              <div class = "date">
                14/08/2024
              </div>
            </div>
          </div>
          <div class = "button-container">
            <a mat-flat-button class = "button" href="https://www.example.com/" target="_blank">View All</a>          
        </div>
        </div>

      </section>
  
      <section class="card eservices">
        <div class="header">E-Services</div>
<div class="services-container">
  <!-- Login button -->
  <a class="service" (click)="login()">
    <img id="eabkari" src="assets/images/main/e-services/eabkari.png" alt="Service Icon">
    Login
  </a>
  
  <!-- Another service link -->
  <a class="service" href="https://www.example.com/" target="_blank">
    <img src="assets/images/main/e-services/apply.png" width="100px" height="100px" alt="Service Icon">
    <span class="service-name">Apply for New <br>Excise License</span>
  </a>


          <a class="service" href="https://www.example.com/" target="_blank">
            <img src="assets/images/main/e-services/print.png" alt="Service Icon">
            <span class="service-name">PRINT LICENSE <br>(New License)</span>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank">
            <img src="assets/images/main/e-services/renew.png" alt="Service Icon">
            <span class="service-name">License Renewal</span>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank"> 
            <img src="assets/images/main/e-services/registration.png" alt="Service Icon">
            <span class="service-name">Company <br>Registration</span>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank">
            <img src="assets/images/main/e-services/collaboration.png" alt="Service Icon">
            <span class="service-name">Company Collaboration</span>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank">
            <img src="assets/images/main/e-services/label.png" alt="Service Icon">
            <span class="service-name">Label Registration</span>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank">
            <img src="assets/images/main/e-services/bulk-spirit.png" alt="Service Icon">
            <span class="service-name">Import of<br> Bulk Spirit</span>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank">
            <img src="assets/images/main/e-services/packaged-liquor.png" alt="Service Icon">
            <span class="service-name">Import of Packaged Liquor</span>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank">
            <img src="assets/images/main/e-services/evc.png" alt="Service Icon">
            <span class="service-name">EVC (IPFL)</span>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank">
            <div class="service-name">Import Permit Revalidation, Cancellation & Surrender</div>
          </a>
          <a class="service" href="https://www.example.com/" target="_blank">
            <img src="assets/images/main/e-services/gps.png" alt="Service Icon">
            <span class="service-name">GPS Mapping of <br>State Excise</span>
          </a>
        </div>
      </section>
  
      <section class="card connect-with-us">
        <div class="header">
          Connect With Us
        </div>
        <div class="container">
          <div class="address-container">
            <div class="address-title">
              <div class = "title1">
                EXCISE DEPARTMENT
              </div>
              <div class = "title2">
                GOVERNMENT OF SIKKIM
              </div>
            </div>
            <div class = "address">
              MG Marg,<br> 
              Gangtok, Sikkim - 737101<br> 
              Phone No: 03592-203963<br> 
              Email: excise.dept&#64;sikkim.gov.in<br> 
            </div>
          </div>
          <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3544.5308785306825!2d88.61010607523964!3d27.327866776402193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e6a514e4a99e41%3A0x8800d2a3beee4886!2sSikkim%20Excise%20Department!5e0!3m2!1sen!2sin!4v1739085170837!5m2!1sen!2sin" 
              style="border:0;" 
              allowfullscreen="" 
              loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </section>
  
      <section class = "card videos">
        <div class = "header">
          Videos
        </div>
        <div class = "container">
          <div class = "heading">
            e-Governance Initiatives
          </div>
          <div class = "vid-container">
            <iframe
              src="https://www.youtube.com/embed/yQF2wpLHcjg?si=ZOliGnG5WNkRamQ7" do-not-allow="autoplay">
            </iframe>
          </div>
        </div>
      </section> 
      
    </div>
  </div>