<div class="grid-container">
  <c-card class = "quick-links grid-card">
    <c-card-header>Quick Links</c-card-header>
    <c-card-body class = "links-container card-container">

      <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
        <c-card-body>
          <img src = "assets/images/main/quick-links/about-us.png">
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis">About Us</small>
        </c-card-footer>
      </c-card>

      <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
        <c-card-body>
          <img src = "assets/images/main/quick-links/factsnfigs.png">
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis">Facts & Figures</small>
        </c-card-footer>
      </c-card>

      <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
        <c-card-body>
          <img src = "assets/images/main/quick-links/acts.png">
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis">Acts, Rules & Orders</small>
        </c-card-footer>
      </c-card>

      <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
        <c-card-body>
          <img src = "assets/images/main/quick-links/rti.png">
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis">Right to Information</small>
        </c-card-footer>
      </c-card>

      <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
        <c-card-body>
          <img src = "assets/images/main/quick-links/feedback.png">
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis">Feedback</small>
        </c-card-footer>
      </c-card>

      <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
        <c-card-body>
          <img src = "assets/images/main/quick-links/contact.png">
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis">Contact Us</small>
        </c-card-footer>
      </c-card>

      

    </c-card-body>
  </c-card>

  <c-card class = "about-us grid-card">
    <c-card-header>About Us</c-card-header>
    <c-card-body class = "card-container">
      <p cCardText>The  Excise Department, under the Government of Sikkim 
        enforces regulations and administers the Sikkim Excise Act, 
        1992. The said Act provides for manufacturing, possession, sale, 
        transport, import of alcoholic liquor; and imposition of 
        duty in form of excise duty, license fee, export pass fee, etc. 
        under the various Acts listed below. The Department also strives 
        to prevent the use of unsafe liquor and ensure consumption of liquor 
        keeping in view the health of the consumers. <br><br>The Sikkim Excise Act, 
        1992 and the Medicinal & Toilet Preparation Act 1955 enables the 
        Department not only to regulate but also enable collection of 
        Revenues by way of Excise Duty, License Fee, and Export Pass Fee 
        etc. Under the provisions of the above Acts, the Department monitors 
        and frames Rules and Regulations for manufacture, import, export, 
        licensing, sale, storage /warehousing, inspection of all alcohol, 
        spirits, derivatives, raw material and by products. The Department 
        is also a major contributor to the Revenue of the State Government.<br><br>
        The Department is presently headed by an officer in the rank of 
        Secretary to the Government. Till 1974 it was headed by the Executive 
        Officer and was located at the old District Office (presently the 
        Secretariat Annex adjacent to Power Secretariat). The Department shifted 
        to its present premises at Mahatma Gandhi Marg, Gangtok in the mid 1970’s. 
        The Secretary is assisted by Commissioner, Joint Commissioner, Deputy 
        Commissioner, other officers and staffs. The Department has a Regional 
        Office for South/West located at Jorethang headed by a Deputy Commissioner 
        District who looks after the affairs and Assistant Commissioner who acts 
        as the D&DO for South and West Districts. <br><br>An officer in the rank of 
        Sub-Inspector along with other supporting staffs is also stationed in 
        Gyalshing, West Sikkim. The North and the East Districts’ falls under 
        the jurisdiction of the Regional Office (North/East) attached with the 
        Head Office, Gangtok. Excise personals are also posted at Mangan, North Sikkim.
        The Department also runs a Laboratory at Chanatar, Rangpo. The sole 
        responsibility of the Laboratory is to examine, test and analyze all 
        liquors produced in Sikkim.</p>
      <a mat-flat-button href="https://example.com" target="_blank">Read More</a>
    </c-card-body>
  </c-card>

  <c-card class = "revenue-receipts grid-card">
    <c-card-header>Revenue Receipts</c-card-header>
    <c-card-body class = "card-container">
      <img src = "assets/images/main/revenue-receipts/revenue-receipt-fig.png">
    </c-card-body>
  </c-card>

  <c-card class = "preventive-raids grid-card">
    <c-card-header>Preventive Raids</c-card-header>
    <img src="assets/images/main/preventive-raids/preventive-raids.jpg">
    <c-card-body class = "card-container">
      <h6 cCardTitle>Total Raids From 1st January, 2020</h6>
      <div class="description">
        <p>
          Raid conducted by Sikkim State Excise
        </p>
        <p>
          Excise Raids on illicit dens in Remote Villages.
        </p>
      </div>
      <a mat-flat-button href="https://example.com" target="_blank">Read More</a>
    </c-card-body>
  </c-card>

  <c-card class = "whats-current grid-card">
    <c-card-header>What's Current</c-card-header>
    <c-card-body class = "card-container">
      <div button (click)="navigateToExternal('https://example.com')" class="calculator-link styled-link">
        Duty Fees MRP Calculator
      </div>
      <div class="notifications">
        <h6>Notifications</h6>
        <div class="notifications-grid-container">

          <div button (click)="navigateToExternal('https://example.com')" class="notification styled-link">
            <div class="title">
              Circular Regarding Settlement of Excise License
            </div>
            <div class="date">
              04/02/2025
            </div>
          </div>

          <div button (click)="navigateToExternal('https://example.com')" class="notification styled-link">
            <div class="title">
              DRY DAY NOTIFICATION
            </div>
            <div class="date">
              23/12/2024
            </div>
          </div>

          <div button (click)="navigateToExternal('https://example.com')" class="notification styled-link">
            <div class="title">
              Office order no 226/Excise dated 11/09/2024 regarding Grievance cell
            </div>
            <div class="date">
              11/09/2024
            </div>
          </div>

          <div button (click)="navigateToExternal('https://example.com')" class="notification styled-link">
            <div class="title">
              Gazette No 394 regarding suspension on issue of New Foreign Liquor Retail License 
            </div>
            <div class="date">
              14/08/2024
            </div>
          </div>

          <div button (click)="navigateToExternal('https://example.com')" class="notification styled-link">
            <div class="title">
              Notification No 01/Excise regarding License Renewal for FY 2024-25
            </div>
            <div class="date">
              08/02/2024
            </div>
          </div>

          <div button (click)="navigateToExternal('https://example.com')" class="notification styled-link">
            <div class="title">
              DRY DAY NOTIFICATION 2024
            </div>
            <div class="date">
              08/01/2024	
            </div>
          </div>

        </div>
      </div>
      <a mat-flat-button href="https://example.com" target="_blank">View All</a>
    </c-card-body>
  </c-card>

  <c-card class = "e-services grid-card">
    <c-card-header>E-Services </c-card-header>
    <c-card-body class = "card-container">
      <div class="services-container">

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body id = "eabkari">
              <img src = "assets/images/main/e-services/eabkari.png">
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/apply.png">
            <div class="title">
              Apply for New Excise License
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/print.png">
            <div class="title">
              PRINT LICENSE<br>(New License)
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/renew.png">
            <div class="title">
              License Renewal
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/registration.png">
            <div class="title">
              Company Registration
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/collaboration.png">
            <div class="title">
              Company Collaboration
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/label.png">
            <div class="title">
              Label Registration
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/bulk-spirit.png">
            <div class="title">
              Import of Bulk Spirit
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/packaged-liquor.png">
            <div class="title">
              Import of Packaged Liquor
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/evc.png">
            <div class="title">
              EVC (IPFL)
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <div class="title">
              Import Permit Revalidation, Cancellation & Surrender
            </div>
          </c-card-body>
        </c-card>

        <c-card button (click)="navigateToExternal('https://example.com')" class="styled-link">
          <c-card-body>
            <img src = "assets/images/main/e-services/gps.png">
            <div class="title">
              GPS Mapping of State Excise
            </div>
          </c-card-body>
        </c-card>

      </div>
    </c-card-body>
  </c-card>
  
  <c-card class = "connect-with-us grid-card">
    <c-card-header>Connect With Us</c-card-header>
    <c-card-body class = "card-container">
      <div class="contact">
        <div class="dept">
          <p>EXCISE DEPARTMENT<br>GOVERNMENT OF SIKKIM</p>
        </div>
        <div class="address">
          <p>MG Marg,<br> 
            Gangtok, Sikkim - 737101<br> 
            Phone No: 03592-203963<br> 
            Email: excise.dept&#64;sikkim.gov.in</p>
        </div>
      </div>
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3544.5308785306825!2d88.61010607523964!3d27.327866776402193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e6a514e4a99e41%3A0x8800d2a3beee4886!2sSikkim%20Excise%20Department!5e0!3m2!1sen!2sin!4v1739085170837!5m2!1sen!2sin" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </c-card-body>
  </c-card>

  <c-card class = "videos grid-card">
    <c-card-header>Videos</c-card-header>
    <c-card-body class = "card-container">
      <iframe
        src="https://www.youtube.com/embed/yQF2wpLHcjg?si=ZOliGnG5WNkRamQ7" do-not-allow="autoplay">
      </iframe>
    </c-card-body>
  </c-card>
</div>