<footer>
    <mat-toolbar style="max-width: 100%">
      <mat-toolbar-row class="tool-bar">
        <div class="col-md-2">
          <a href="https://sikkimtourism.gov.in" target="_blank"> </a>
        </div>
  

      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Copyright -->
  
    <div class="row" style="background-color: #3b3d42; padding: 0; margin: 0">
      <div class="col-md-10 footer-text">
        <!-- Copyright -->
        © 2024 Copyright: Designed & Developed by National Informatics Centre, Gangtok, Sikkim
      </div>
      <div class="col-md-2" id="right">
      
      </div>
      <!-- <div class="col-md-6">
      <div class="text-center p-3 shadow-sm">
        <a href="https://sikkim.nic.in/" target="blank"> <img src="./assets/images/akamlogo.jpg" height=55  width=100> </a>
        <a href="https://sikkim.nic.in/" target="blank"> <img src="./assets/images/nic_logo.png" height=45> </a>
        <img src="./assets/images/digital_india.png" height=55 width=210>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <img src="./assets/images/logog20.jpg" height=55 width=210>
      </div>
      
      
    </div> -->
    </div>
  </footer>
  